<div class="title">
    <h2>🧾 Lista de produtos</h2>
</div>
<table class="table table-hover mt-4">
  <thead>
  <tr>
      <td><p><b>Cód.</b></p></td>
      <td><p>Nome produto</p></td>
      <td><p>Unid.</p></td>
      <td><p>Qntd.</p></td>
      <td colspan="2"><p>Ações</p></td>
  </tr>
  </thead>
  <tbody>
      <tr class="products-list" *ngFor="let product of products | paginate: { itemsPerPage: 5, currentPage: paginaAtual }">
          <td><p><b>{{ product.ProductCode }}</b></p></td>
          <td><p>{{ product.ProductName }}</p></td>
          <td><p>{{ product.ProductUnit }}</p></td>
          <td><p>{{ product.ProductQnt }}</p></td>
          <td class="pb-0"><a [routerLink]="['/edit', product._id]" class="btn btn-primary mr-2">Editar</a>
          <a (click)="deleteProduct(product._id)" class="btn btn-outline-danger text-danger"> 🗑 </a></td>
      </tr>
  </tbody>
</table>
<div class="page-wrapper container d-flex justify-content-end">
    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
</div>