<div class="title">
    <h2 class="mb-4">📦 Bem-vindo (a)</h2>
    <p>Um bom controle de estoque pode ser o fator determinante entre fechar uma venda e perdê-la para um concorrente. 
        Afinal, quem não sabe que produtos tem e onde encontrá-los, sofrerá para vendê-los. Por isso, criamos o <b>MQtech Estoque. ❤️</b>
    </p>
    <p class="mb-4"> 💻  <b>Tecnologias utilizadas:</b><br/>
        Angular 8, NodeJS, MongoDB<br/>
        <small><b>Deploy:</b> API e banco estão hospedados na Umbler,<br/>
        Front está hospedado no Github Pages.</small>
    </p>
    <div class="repo mb-3">
        <p class="m-0"><b>Repositórios</b></p>
        <a href="https://github.com/gusttm/mqtech">github.com/gusttm/mqtech</a><br/>
        <a href="https://github.com/gusttm/mqtech_api">github.com/gusttm/mqtech_api</a>
    </div>
    <p class="mb-4">Nessa primeira versão, você pode <b>listar, adicionar, editar e remover</b> produtos do seu estoque. <b>Vamos começar!</b></p>
    <a [routerLink]="['/products']" class="btn btn-primary mr-2">Ver produtos</a>
    <a [routerLink]="['/product/create']" class="btn btn-primary mr-2">Adicionar produto</a>
</div>